[submodule "submodules/qemu"]
	path = submodules/qemu
	url = https://github.com/maxjae/qemu.git
[submodule "submodules/spdm-linux"]
	path = submodules/spdm-linux
	url = https://github.com/maxjae/spdm-linux.git
